<h1>I am Shreeya Tadisina in ITIS3135</h1>
        <nav class="nav-pages">
            <a href="./" class="separate-underline">Home </a>
            ||
            <a href="introduction.html" class="separate-underline">Introduction</a>
            ||
            <a href="contract.html" class="separate-underline">Contract</a>
            ||
            <a href="tadisinaenterprise.com/index.html">tadisinaenprise.com</a>
            ||
            <a href="sneakytiger.com/index.html">sneakytiger.com</a>
            ||
            <a href="stuff/STUFF-T@HINGS.htm">CRAPPY website</a>
            ||
            <a href="webpageEvaluation.com/website_evaluations.html">Website Evaluation</a>
        </nav>